<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDy4a-81WIEbV0YKaZqF_x-aa6nJtpvZuM</string>
	<key>GCM_SENDER_ID</key>
	<string>736662249681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lampy</string>
	<key>PROJECT_ID</key>
	<string>lampy-ad5ce</string>
	<key>STORAGE_BUCKET</key>
	<string>lampy-ad5ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736662249681:ios:361c34c65c59a695ae65f0</string>
</dict>
</plist>